.main_div {
  padding: 20px 0;
  grid-row: 4/5;
  grid-column: 2/3;
}
.title {
  font-size: 20px;
  color: #fff;
}
.table {
  width: 100%;
  height: 100%;
  color: #b7b7b7;
}
.tbody {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  & > tr {
    display: flex;
    justify-content: space-between;
  }
}
td:last-child {
  color: #fff !important;
}
